.transactionTable {
    width: 100%;
    max-width: 1280px;
    border-collapse: collapse;
  }
  
  .transactionTable th,
  .transactionTable td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    color: black;
  }
  
  .transactionTable th {
    color: white;
    background-color: black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  